[Unit]
Description=BBB-Observer service
After=redis-server.service

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/home/bbb-observer/bbb-observer/venv/bin/python3.9 bbb-observer.py
User=bbb-observer
WorkingDirectory=/home/bbb-observer/bbb-observer/
Restart=always
KillSignal=SIGKILL
